
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/
/composer.phar

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
